{{page-title "THEA"}}
<div id="appBody">
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo cursor-pointer" {{action "goToRoot"}}><object class="logo-object" data="assets/images/logo.svg" type="image/svg+xml"></object></a>
          <a class="sidebar-brand brand-logo-mini cursor-pointer" {{action "goToRoot"}}><object class="logo-mini-object" data="assets/images/logo-mini.svg" type="image/svg+xml"></object></a>
        </div>
        <ul class="nav">
        {{#each this.controllerData.routes as |route|}}
          <li class="nav-item menu-items cursor-pointer {{if (boolean-helper "==" route.ID this.controllerData.activeTab)  "active"}}">
            <a class="nav-link" onClick={{action 'transitionToRoute' route}}>
              <span class="menu-icon">
                <MdIcon @icon={{route.icon}} @size=24 @fill="#ffffff"/>
              </span>
              <span class="menu-title">{{route.DISPLAY_NAME}}</span>
            </a>
          </li>
        {{/each}}
        </ul>
      </nav>
      {{outlet}}
      </div>
</div>
