{{page-title "StringUtils"}}

{{top-bar}}
  <div class="main-panel">
      <div class="content-wrapper scroll-textarea">
        <div class="row m-auto">
          <div class="col-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="forms-sample">
                  <div class="form-group">
                    <label for="unsortedList">Input</label>
                    <textarea class="form-control text-white scroll-textarea force-overflow" id="input" rows="24" value={{this.stringList}} placeholder={{this.placeHolder}}></textarea>
                  </div>
                  <button class="btn btn-primary mr-2" onClick={{action "submitForSort"}} type="button">Split</button>
                  <button class="btn btn-dark" onClick={{action "clear"}} type="button">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="sortedList">Output</label>
                    <pre class="form-control text-white height-em-25 line-height-1">
                      {{string-display array=this.result}}
                    </pre>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-auto">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Options</h4>
                <div class="form-group row">
                  <div class="col-2">
                    <div id="otherOptions">
                      <div class="pretty p-default p-curve p-thick p-smooth">
                      <input type="checkbox" checked={{this.options.sort}} onchange={{action "toggleAdmin" "sort"}}/>
                        <div class="state p-danger-o">
                            <label>Sort</label>
                        </div>
                      </div>
                      <div class="pretty p-default p-curve p-thick p-smooth">
                        <input type="checkbox" checked={{this.options.removeDup}} onchange={{action "toggleAdmin" "removeDup"}}/>
                          <div class="state p-danger-o">
                              <label>Remove Duplicates</label>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <label>Custom Delim</label>
                    <div id="delim">
                      {{input class="typeahead text-white" value=this.customDelim disabled=(boolean-helper "!" this.options.delim) type="text" placeholder="Default delim is \" \""}}
                      <br>
                      <div class="pretty p-default p-curve p-thick p-smooth">
                      <input type="checkbox" checked={{this.options.delim}} onchange={{action "toggleAdmin" "delim"}}/>
                        <div class="state p-danger-o">
                            <label>Delim</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <label>Replace</label>
                    <div id="replace">
                      {{input class="typeahead text-white" value=this.replaceFrom disabled=(boolean-helper "!" this.options.replace) type="text" placeholder="Replace What?"}}
                      <br>
                      <div class="pretty p-default p-curve p-thick p-smooth">
                      <input type="checkbox" checked={{this.options.replace}} onchange={{action "toggleAdmin" "replace"}}/>
                        <div class="state p-danger-o">
                            <label>Replace</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <label>Replace To</label>
                    <div id="replace-to">
                      {{input class="typeahead text-white" value=this.replaceTo disabled=(boolean-helper "!" this.options.replace) type="text" placeholder="Replace To?"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{{outlet}}